#myCanvas{
	margin: auto;
	border: 1px solid black;
	display: block;
}
/* #startButton{
	display: inline;
	width: 100px;
	height: 100%;
}
#endButton{
	display: inline;
	width: 100px;
	height: 100%;
}
#wallButton{
	display: inline;
	width: 100px;
	height: 100%;
} */
#buttons > button{
	display: inline;
	width: 100px;
	height: 70%;
	margin-top: 12px;
	/* margin-bottom: 5%; */
}
#buttons {
	width:auto;
	height: 80px;
	border: 1px solid grey;
}
h1{
	text-align: left;
}
